/*$blue:  #056ef0;*/

.standardBorder {
    border: 5px solid blue;
}

.smallBox {
    height: 50px;
    width: 200px;
}

.standardButton {
    composes: smallBox;
    composes: standardBorder;
    text-align: center;
    cursor: pointer;
    padding: 5px;
}

.icon {
    background-image: url('http://dl.hiapphere.com/data/icon/201409/HiAppHere_com_kov.theme.lumos.png');
    height: 10px;
    width: 10px;
}
