/*$blue:  #056ef0;*/

:local(.standardBorder) {
    border: 5px solid blue;
}

:local(.smallBox) {
    height: 50px;
    width: 200px;
}

:local(.standardButton) {
    composes: smallBox;
    composes: standardBorder;
    text-align: center;
    cursor: pointer;
    padding: 5px;
}

:local(.icon) {
    background-image: url('http://dl.hiapphere.com/data/icon/201409/HiAppHere_com_kov.theme.lumos.png');
    height: 40px;
    width: 50px;
}
