:local(.button) {
  composes: standardButton from '../../common/standard-styles.css';
  composes: standardText from '../../common/typography.css';
  display: flex;
  align-items: center;
  justify-content: center;
}

:local(.icon) {
  composes: icon from '../../common/standard-styles.css';
  background-size: cover;
}
